sqlalchemy==2.0.23
asyncpg==0.29.0
psycopg==3.1.16
psycopg-binary==3.1.16
alembic==1.13.1
pydantic==2.6.1
pydantic-settings==2.1.0
sqlmodel==0.0.14
starlette==0.36.3
fastapi==0.109.2
uvicorn[standard]==0.27.1